// Breakpoints

$tablet-breakpoint: 767px;
$desktop-breakpoint: 1279px;

// Margins

$mobile-margin: 1rem;
$tablet-margin: 2rem;

// Colors
$main-background: #b8860b;
$font-color: #b22222;
$hover-background: #deb887;
$hover-font: #ffffff;
